{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
    Story 10 - Registration
{% endblock title %}

{% block content %}
    <h1 class="text-main">
        Subscribe Yuk!
    </h1>

    <div class="form-block">
        <form class="form-group" id="add-subscriber" method="post" action="#">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Subscribe">
        </form>
    </div>

    <h2 class="text-main">Daftar Subscriber</h2>
    <div class="table">
        <table class="table table-striped table-bordered" id="subscriber-table">
            <thead>
                <th>Nama</th>
                <th>Email</th>
                <th>Unsubscribe</th>
            </thead>
        </table>
    </div>

{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        var emailIsValidated = false;
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        var validateEmailURL = "{% url 'registration:validate-email' %}";
        var submitFormURL = "{% url 'registration:add-subscriber' %}";
        var unsubscribeURL = "{% url 'registration:unsubscribe' %}";

        $(document).ready(function () {
           $('#subscriber-table').DataTable({
               responsive: true,
               ajax: {
                   dataType: 'json',
                   contentType: 'application/json; charset=utf-8',
                   url: "{% url 'registration:get-subscribers' %}",
                   dataSrc: 'subscribers',
               },
               columns: [
                   {data: 'name'},
                   {data: 'email'},
                   {
                       data: 'id',
                       orderable: false,
                       render: function (data) {
                           return "<input type='submit' class='btn btn-danger unsubscribe' value='Unsubscribe' data-id=" + data + ">"
                       }
                   },
               ],
           });

            $('#subscriber-table').on('click', 'td .unsubscribe', function () {
                var subscriberId = $(this).attr('data-id');
                $.ajax({
                    url: unsubscribeURL,
                    method: 'POST',
                    type: 'json',
                    data: {'subscriber_id': subscriberId},
                }).then(function () {
                   $('#subscriber-table').DataTable().ajax.reload();
                });
            });
        });
    </script>
    <script type="text/javascript" src="{% static 'js/story10.js' %}"></script>
{% endblock scripts %}