{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="landing page">
        <meta name="author" content="Farhan Azyumardhi Azmi - 1706979234">
        <meta name="google-signin-client_id" content="363267603072-umi07tav69q4ajrrir95fgsr7n50ngdt.apps.googleusercontent.com">

        <title>
            {% block title %}
                Farhan Azmi - Index
            {% endblock title %}
        </title>

        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/story_3.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Bitter|Chivo|Montserrat" rel="stylesheet">
    </head>

    <body>

        <div id="page-loading">
            <div class="loading-spinner"></div>
        </div>

        <header>
            {% include 'layout/header.html' %}
        </header>

        <content>
            {% block content %}
                <!-- content goes here -->
            {% endblock content %}
        </content>

        <footer>
            {% include 'layout/footer.html' %}
        </footer>

        {% block scripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
            <script src="{% static 'js/story8.js' %}"></script>
            <script>
                function onSignIn(googleUser) {
                    var id_token = googleUser.getAuthResponse().id_token;
                    $.ajax({
                        url: '/book/token-verif',
                        method: 'POST',
                        dataType: 'json',
                        data: {'token': id_token},
                        success: function (result) {
                            console.log('User signed in.');
                            location.reload();
                        }
                    });
                }

                function signOut() {
                    gapi.load('auth2', function () {
                        gapi.auth2.init().then(function () {
                            var auth2 = gapi.auth2.getAuthInstance();
                            auth2.signOut().then(function () {
                                $.ajax({
                                    url: '/book/clear-session',
                                    success: function (result) {
                                        console.log('User signed out.');
                                        location.reload();
                                    }
                                });
                            });
                        });
                    });
                }
            </script>
        {% endblock scripts %}
    </body>
</html>