<!DOCTYPE html>
<html lang="en">
    <nav class="navbar navbar-expand-lg main-navbar">
        <a class="navbar-brand navbar-button" href="{% url 'status:index' %}">Home</a>
        <a class="navbar-brand navbar-button" href="{% url 'status:profile' %}">Profile</a>
        <a class="navbar-brand navbar-button" href="{% url 'book-list:book-list' %}">Book List</a>
        <a class="navbar-brand navbar-button" href="{% url 'registration:register' %}">Subscribe</a>
        <select class="select-theme"></select>
        <button class="apply-theme btn" style="margin: 10px">Select Theme</button>
        {% if not username %}
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
        {% else %}
            <button class="btn btn-danger" onclick="signOut();">Sign out</button>
        {% endif %}
    </nav>
</html>