{% extends 'layout/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block content %}
        <div class="main-div">
            <div class="jumbotron">
                <div class="container-fluid">
                    <h1 class="page-header">Hello apa kabar?</h1>
                </div>
            </div>

            <div class="container mx-auto d-block">
                <form class="form-block" action="{% url 'status:add_status' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form }}
                    </div>
                    <button type="submit" class="btn btn-primary" id="status-submit-button">Input Status</button>
                </form>
            </div>

            <div class="container mx-auto d-block">
                {% if status %}
                    <table class="table table-hover table-striped table-dark" align="center" style="text-align: center">
                        <thead>
                            <tr>
                                <th scope="col">Status</th>
                                <th scope="col">Waktu Pembuatan</th>
                            </tr>
                        </thead>
                        {% for data in status %}
                        <tr>
                            <td scope="row" id="status-col-status">{{ data.status }}</td>
                            <td scope="row" id="status-col-created-at">{{ data.created_at|date:"l" }}, {{ data.created_at }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                {% else %}
                    <h1 class="text-main">Tidak Ada Status</h1>
                {% endif %}
            </div>
        </div>
    {% endblock %}
</html>
