.main-navbar {
    background: #FFDD59;
}

.nav-container {
    padding-left: 250px;
    padding-right: 250px;
}

.navbar-button {
    width: 100px;
    background: #D35400;
    mix-blend-mode: normal;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: white;
    text-align: center;
}

.navbar-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
}

body {
    background: rgba(255, 107, 107, 0.68);
}

.image-div {
    padding: 20px;
}

.jumbotron-image {
    width: 60%;
    height: 60%;
    box-sizing: border-box;
    border-radius: 50px;
}

.border-line-main {
    border: 10px solid #F3190B;
}

.text-main {
    font-family: 'Bitter', serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    padding: 20px;
}

.text-sub, .form-label {
    font-family: 'Chivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-align: center;
}

.projects-text, .academic-text, .work-text {
    font-family: 'Bitter', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    padding: 20px;
}

.border-line-sub {
    border: 10px solid #CFD300;
    border-style: dashed solid;
}

.project-div, .academic-div {
    background: #f2f2f2;
    margin: 20px;
    border-radius: 20px;
}

.project-logo, .academic-logo {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 70px;
    background-size: 100%;
}

.fuki-logo {
    width: 200px;
    height: 240px;
    background-image: url(/static/images/static_lpj_images_logo-fuki.png);
}

.rumbuk-logo {
    width: 250px;
    height: 200px;
    background-image: url(/static/images/jumbotronRUMBUK-01.png);
}

.ui-logo {
    width: 200px;
    height: 200px;
    background-image: url(/static/images/UI_Logo.svg.png);
}

.sma-logo {
    width: 200px;
    height: 200px;
    background-image: url(/static/images/LOGO_SMAN_49_JAKARTA.png);
}

.contacts {
    padding: 10px;
}

.contact-logo {
    display: inline-block;
    width: 100px;
    height: 90px;
    box-sizing: border-box;
    background-size: 100%;
    border: 5px solid black;
}

.linkedin-logo {
    background-image: url(/static/images/linkedin.png);
}

.gitlab-logo {
    background-image: url(/static/images/gitlab.png);
}

.project-desc, .academic-desc, .article-desc {
    font-family: 'Chivo', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 22px;
    text-align: center;
    margin: auto;
    padding-right: 200px;
}

.avatar-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.bio-desc {
    background: #f2f2f2;
    width: 50%;
    justify-content: center;
    margin-bottom: 40px;
}

.skill-logo-div {
    margin-top: 40px;
}

.skill-div {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
}

.skill-img {
    border-radius: 50%;
}

.article-div {
    border-style: dotted;
    margin: 20px;
}

.article-cover {
    border-radius: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.article-desc {
    padding-right: 100px;
}

.form-block {
    width: 600px;
    margin: auto;
    background: linear-gradient(to bottom right, #e1eec3, #f05053);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.accordion {
    background: linear-gradient(to bottom right, white, #F8F8F8);
    max-width: 400px;
    background: white;
    margin: 0 auto;
  box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3), 0 35px 50px -25px rgba(0, 0, 0, 0.3), 0 85px 60px -25px rgba(0, 0, 0, 0.1);
}

.accordion-header {
    border-bottom: 1px solid #DDE0E7;
    color: #2a313a;
    cursor: pointer;
    font-weight: 700;
    padding: 1.5rem;
}

.accordion-header:hover {
    background: #F6F7F9;
}

.accordion-content {
    display: none;
    border-bottom: 1px solid #DDE0E7;
    background: #F6F7F9;
    padding: 1.5rem;
    color: #4a5666;
}

.accordion-header::before {
    content: '';
    vertical-align: middle;
    display: inline-block;
    width: .75rem;
    height: .75rem;
    border-radius: 50%;
    background-color: #B1B5BE;
    margin-right: .75rem;
}

.active.accordion-header::before {
    background-color: #FC6468;
}

#page-loading {
    position: fixed;
    width: 100%;
    height: 100%;
    font-size: 150px;
    text-align: center;
    vertical-align: middle;
    color: #000000;
    z-index: 20000;
    background-color: #FFFFFF;
}

.loading-spinner {
    background-color: rgba(0,0,0,0);
    border: 9px solid rgba(27,61,226,0.9);
    opacity: .9;
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 120px;
    -webkit-box-shadow: 0 0 35px #1B3DE2;
    box-shadow: 0 0 35px #1B3DE2;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    -moz-animation: spin .5s infinite linear;
    -webkit-animation: spin .5s infinite linear;
    -o-animation: spin .5s infinite linear;
    animation: spin .5s infinite linear;
}

@-moz-keyframes spin {
     from {
         -moz-transform: rotate(0deg);
     }
     to {
         -moz-transform: rotate(360deg);
     }
 }

 @-webkit-keyframes spin {
     from {
         -webkit-transform: rotate(0deg);
     }
     to {
         -webkit-transform: rotate(360deg);
     }
 }

 @keyframes spin {
     from {
         transform: rotate(0deg);
     }
     to {
         transform: rotate(360deg);
     }
 }
 @-o-keyframes spin {
     from {
         transform: rotate(0deg);
     }
     to {
         transform: rotate(360deg);
     }
 }

@media only screen and (max-width: 600px) {
    .form-block {
        width: 75%;
    }

    .contact-logo {
        width: 65px;
        height: 60px;
    }

    .navbar-button {
        width: 90px;
    }

    .nav-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .article-div {
        margin: auto;
    }

    .article-desc {
        padding-right: 20px;
    }

    .article-cover {
        width: 290px;
    }

    .lpj-image {
        width: 120px;
        height: 150px;
    }

    .rumbuk-image, .rumbuk-logo {
        width: 230px;
        height: 120px;
        margin-bottom: 20px;
    }
    
    .project-desc {
        font-size: 12px;
    }

    .text-sub {
        font-size: 16px;
    }

    .ui-logo, .sma-logo {
        width: 100px;
        height: 100px;
    }

    .fuki-logo {
        width: 100px;
        height: 120px;
    }

    .academic-desc {
        font-size: 16px;
    }

    .skill-img {
        width: 100px;
        height: 100px;
    }

}

@media only screen and (min-width: 600px) {
    .form-block {
        width: 75%;
    }

    .contact-logo {
        width: 70px;
        height: 65px;
    }

    .nav-container {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media only screen and (min-width: 768px) {
    .form-block {
        width: 75%;
    }

    .nav-container {
        padding-left: 300px;
        padding-right: 300px;
    }
}

@media only screen and (min-width: 992px) {
    .form-block {
        width: 75%;
    }

    .nav-container {
        padding-left: 200px;
        padding-right: 200px;
    }
}